pkgbase = omarchy-task-manager
	pkgname = omarchy-task-manager
	pkgver = 0.1.0
	pkgrel = 2
	pkgdesc = Omarchy-themed GTK4 task manager
	url = https://github.com/HurlyDesousa/omarchy-task-manager
	arch = any
	license = MIT
	depends = python
	depends = python-gobject
	depends = gtk4
	source = omarchy-task-manager
	source = omarchy-task-manager.desktop
	source = LICENSE
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
