pkgbase = omarchy-task-manager
	pkgname = omarchy-task-manager
	pkgver = 0.5.5
	pkgrel = 10
	pkgdesc = Omarchy-themed GTK4 task manager with Quickshell bar widgets
	url = https://github.com/HurlyDesousa/omarchy-task-manager
	arch = any
	license = MIT
	depends = python
	depends = python-gobject
	depends = gtk4
	source = omarchy-task-manager
	source = omarchy-task-manager-toggle
	source = omarchy-task-manager-waybar
	source = omarchy-task-manager.desktop
	source = shell/sw.art.task-manager/manifest.json
	source = shell/sw.art.task-manager/BarWidget.qml
	source = LICENSE
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
